/*
    uit bootstrap gehaald (in commentaar gezet) en naar eigen css bestand -> gemakkelijker te editten
*/

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none
}

.btn:active, .btn.active {
    /*outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)*/
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #f6f2eb;
    background-color: #343434;
    font-family: linowrite;
    font-size: 20pt;
    border-bottom: 4px solid #1a1a1a;
    background: -moz-linear-gradient(top, rgba(52,52,52,1) 0%, rgba(31,31,31,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,52,52,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(52,52,52,1) 0%,rgba(31,31,31,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(52,52,52,1) 0%,rgba(31,31,31,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(52,52,52,1) 0%,rgba(31,31,31,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(52,52,52,1) 0%,rgba(31,31,31,1) 100%); /* W3C */


    -webkit-box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    4px 4px 11px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         4px 4px 11px 0px rgba(0, 0, 0, 0.25);
}

.btn-default:hover, .btn-default:focus, /*.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default*/ {
    /*color: #333;*/
    /*background-color: #ebebeb;*/
    /*border-color: #adadad*/
    color: #f6f2eb;
    background-color: #343434;
    background: -moz-linear-gradient(top, rgba(31,31,31,1) 0%, rgba(52,52,52,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,31,31,1)), color-stop(100%,rgba(52,52,52,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(52,52,52,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(52,52,52,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(31,31,31,1) 0%,rgba(52,52,52,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(31,31,31,1) 0%,rgba(52,52,52,1) 100%); /* W3C */
    -webkit-box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    4px 4px 11px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         4px 4px 11px 0px rgba(0, 0, 0, 0.25);
}

/*.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none
}*/

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    opacity: 1;
    color: #101010;
    /*background-color: #fff;
    border-color: #ccc*/
}
.btn-default.disabled span{
    opacity: 0.5;
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0
}

.btn-block + .btn-block {
    margin-top: 5px
}
.btn .label {
    position: relative;
    top: -1px
}

input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
    width: 100%
}